{{ rerender() }}
<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>

  <h4>
    ChangeDetectionStrategy.<span
      class="strategy"
      [ngStyle]="{ color: strategy === 'Default' ? 'red' : 'green', fontWeight: 'bold' }"
      >{{ strategy }}</span
    >
  </h4>

  <mat-card-actions>
    <p>
      <label>Display Rerender</label>
      <input type="checkbox" [checked]="displayRerender" #checkbox />
    </p>

    <p>
      <no-cd-button [emitInZone]="false" (noCdClick)="onNoCdClick($event)"
        >No Change Detection</no-cd-button
      >
      <button (click)="onNormalBtnClick($event)">Normal Button</button>
    </p>

    <p>
      <no-cd-button
        *ngFor="let button of buttons"
        [emitInZone]="button.emitInZone"
        (noCdClick)="button.onClick($event)"
        >{{ button.label }}</no-cd-button
      >
    </p>
  </mat-card-actions>

  <mat-card-content>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Property</mat-label>
      <input matInput [value]="name" readonly />
    </mat-form-field>
    <app-todolist [todos]="todos"></app-todolist> -->
    <ng-content selector="app-node"></ng-content>
  </mat-card-content>
</mat-card>
