/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-node,
app-on-push-node {
  mat-card {
    border: 1px solid black;
    margin: 0.5rem;

    mat-card-title {
      margin-bottom: 0;
    }
    mat-card-actions {
      margin-bottom: 0;

      button {
        margin: 0 8px !important;
      }
    }
    // mat-card{
    //   margin-top: 8px;
    // }
  }
}
.highlight {
  border: 2px solid red !important;
}
